* {
		box-sizing: border-box;
	}

	body{
		margin :5%;
		margin-top: 2%;
	}

	h1{
		text-align: center;
	}

	.row{
		width:100%;
	}

	h2 {
		margin:0;
	}

	h2 span{
		display: block;
		float: right;
		background-color: pink;
		margin:none;
		padding:4px;
		border: 1px solid black; 
	}

	#s1{
		background-color: red;
		text-decoration: 
	}

	#s3{
		background-color: yellow;
	}

	p{
		clear: right;
		margin-top: 50px;
		background-color: green;
		font-family: Helvetica;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: auto;
		width:90%;
	}

	.col-lg-4, .col-md-6, .col-sm-1{
		background-color: gray;
		border: 1px solid black;
		font-style: italic;
		height:158px;
		overflow: hidden;
		margin:0.5%;
	}

	@media (min-width: 992px) {

		.col-lg-4 {
			margin:1%;
			float:left;
			width: 31.33%;
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {

		.col-md-6 {
			float: left;
			width: 48%;
		}

		#sec2 {
			float: right;
		}

		#sec3 {
			margin-top: 2%;
			margin-right: ;
			width:99%;
		}
	}

	@media (max-width: 767px) {

		.col-sm-1 {
			margin-bottom:2%;
			float: left;
			width:100%;
		}

	}